<a href="https://colab.research.google.com/github/sojiseung/sjs0424/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/0501_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
    print('x는 5보다 큽니다.')
elif x == 5:
    print('x는 5입니다.')
else:
    print('x는 5보다 작습니다.')

x는 5보다 큽니다.

In [ ]:
x = 10
if x >= 5:
    print('x는 5보다 크거나 같습니다.')
else :
    print('x는 5보다 작습니다.')

x는 5보다 크거나 같습니다.

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용
x = 10
y = 5

if x > 5:
    print('x는 5보다 큽니다.')

if y < 10:
    print('y는 10보다 작습니다.')

if x > y:
    print('x는 y보다 큽니다.')

x는 5보다 큽니다.
y는 10보다 작습니다.
x는 y보다 큽니다.

In [ ]:
x = 10
y =5
if x > 5:
  if y >= 3:
      print('x는 5보다 크고 y는 3보다 크거나 같습니다.')
  else :
      print('x는 5보다 크고 y는 3보다 작습니다.')
else :
  print('x는 5보다 작거나 같습니다.')

x는 5보다 크고 y는 3보다 크거나 같습니다.

In [ ]:
# 이중 조건문을 사용하여 코드를 작성하세요.(조건 내용은 자유. 단, if문 if ~else 중첩하여 사용)
score = int(input('점수를 입력하세요 : '))

if score >= 90:
  if score >= 95:
      print('A+')
  else:
      print('A')
elif score >= 80:
    if score >= 85:
      print('B+')
    else :
      print('B')
elif score >= 70:
    if score >= 75:
      print('C+')
    else :
      print('C')
elif score >= 70:
    if score >= 75:
      print('D+')
    else :
      print('D')
else :
    print('F')

In [ ]:
# 70점 이상만 채점

score = int(input('점수를 입력하세요 : '))
if score < 70:
  print("성적 미달 채점 X")
else :
  if score >= 90:
    if score >= 95:
        print('A+')
    else:
        print('A')
  elif score >= 80:
      if score >= 85:
        print('B+')
      else :
        print('B')
  else :
      print('C')

점수를 입력하세요 : 75
C

In [ ]:
# Q. listdata = ['a', 'b', 'c']
listdata = ['a', 'b', 'c']
for i in listdata:
    if i in listdata:
      print(f'{i}가 listdata에 있습니다.')

a가 listdata에 있습니다.
b가 listdata에 있습니다.
c가 listdata에 있습니다.

In [ ]:
# Q. 주머니에 돈이 10000원 이상 있으면 택시를 타고, 돈이 없으면 걸어 간다를 만족하는 조건문을 작성하세요.
money = int(input('주머니에 있는 돈이 얼마인지 써주세요 :'))

if money >= 10000:
    print('택시에 탑승해 주세요.')
else :
    print('그냥 걸어가세요.')

주머니에 있는 돈이 얼마인지 써주세요 :200
그냥 걸어가세요.

In [ ]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.
score = 70
if score >= 60:
    message = 'success'
else:
    message = 'failure'

print(message)

success

In [ ]:
score = 70
['success' if score >= 60 else 'failure']

['success']

In [ ]:
# Q. '수입(income)과 지출(spend)을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가' 프로그램 작성
income = int(input('수입을 써주세요 : '))
spend = int(input('지출을 써주세요 :'))

if income >= spend:
    if income > spend:
        print('저축 증가')
    else :
        print('아무것도 없음')
else :
    print('빚이 증가')

수입을 써주세요 : 1200
지출을 써주세요 :1000
저축 증가

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트, 튜플, 문자열 등)나 반복 가능한 객체(iterable)의 요소를 순화

for i in range(5):
    print(i, end=' ')
print('\n')
count = 0
while count < 5:
    print(count, end=' ')
    count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
    print(i,end=' ')
print('\n')

# 문자열을 순회하는 예
for char in 'hello':
   print(char,end=' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료
count = 0
sum = 0
while count < 5:
    sum += count
    print(sum,end=' ')
    count += 1

0 1 3 6 10

In [ ]:
# Q. d에서 반복문을 사용하여 97 98 99 을 출력하세요.
d = {'a':97, 'b':98, 'c':99}

for i in d:
    print(d[i], end=' ')

97 98 99

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i,end=' ')
print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i,end=' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break # i가 5일 때 루프를 종료합니다.
    print(i,end = ' ')
print('\n')

for i in range(10):
    if i % 2 == 0:
        continue  # i가 짝수일 떄 나머지 부분을 건너뛰고 다음 반복을 시작합니다.
    print(i, end = ' ')

0 1 2 3 4

1 3 5 7 9

In [ ]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할
for i in range(5):
    print(i, end = ' ')
else :
    print('루프가 완료되었습니다.','\n')

count = 0
while count < 5:
    print(count, end =' ')
    count += 1
else:
    print('루프가 완료되었습니다.')

0 1 2 3 4 루프가 완료되었습니다.

0 1 2 3 4 루프가 완료되었습니다.

In [ ]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print('루프를 중단합니다.')
        break
else :
  print('루프가 정상적으로 완료되었습니다.')

# 출력:
# 3에서 루프를 중단합니다.

루프를 중단합니다.

# 조건과 반복을 결합

In [ ]:
# 홀수만 출력
for i in range(10):
    if i % 2 != 0:
        print(i,end = ' ')

1 3 5 7 9

In [ ]:
# Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요.
for i in range(10):
    if i == 0:
        continue
    elif i < 6:
        print(i,end = ' ')
    else :
        break

1 2 3 4 5

In [ ]:
for i in range (1, 11):
    if i > 5:
        break
    print(i,end = ' ')

1 2 3 4 5

In [ ]:
# Q, numbers 리스트에서 15,20,25를 출력하세요.(for문과 if 조건 사용 필수)
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    if i == 15 or i == 20 or i == 25:
        print(i, end= ' ')

15 20 25

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    #if i > 5 and i%5 == 0:
    if i >= 15:
        print(i, end = ' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복
count = 0
while 1:  # 무한 루프
    count += 1
    if count > 5:
        break # count가 5보다 클 때 루프를 종료합니다.
    print(count, end = " ")
    print('루프가 종료됨')

1 2 3 4 5

In [ ]:
# Q. 리스트에서 특정값을 찾으면 '값을 찾았습니다.'를 출력하고 못찾으면 '값을 찾지 못했습니다.'를 출력하세요.
numbers = [1, 2, 3, 4, 5]
target = 3

for i in numbers:
    if i == target:
        print(f'{target}을(를) 찾았습니다.')
        break
else :
    print(f'{target}을(를) 못찾았습니다.')

# print(f'{target}을(를) 찾지 못했습니다.')

3을(를) 찾았습니다.

In [ ]:
# Q. 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 출력
for i in range(1, 21):
    if i < 10 and i % 2 != 0:
        print(i, end = ' ')

1 3 5 7 9

In [ ]:
for i in range(1,21):
    if i < 10:
      if i % 2 != 0:
          print(i,end = ' ')
    else:
        break

1 3 5 7 9

In [ ]:
#while ~ continue ~ break
# 20보다 작은 정수에서 1 3 5 7 9 만을 출력
a = 0
while a < 20:
  a += 1
  if a % 2 == 0:
      continue
  if a >= 10:
      break
  print(a,end = ' ')

1 3 5 7 9

In [ ]:
# Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.(while ~ braek)
x = 0
sum = 0
while 1:
    x = x + 1
    sum += x
    if sum > 1000:
      print(x)
      print(sum)
      break

45
1035

In [ ]:
x = 0
sum = 0
while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.
x = 0
count = 0
while 1:
  count += 1
  if count < 1001:
    if count % 3 == 0:
      x += count
  if count > 1000:
    break

print(x)

166833

In [ ]:
count = 1
x = 0
while count <= 1000:
  if count % 3 == 0:
    x += count
  count += 1
print(x)

166833

In [ ]:
n = 3
sum = 0
while n <= 1000:
    sum += n
    n += 3
print(sum)

166833

In [ ]:
# Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
num = int(input('정수를 입력하세요.'))

if num == 0:
    print('0 입니다.')
elif num % 2 == 0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

정수를 입력하세요.0
0 입니다.

In [ ]:
while True:
  try:
    num = int(input('정수를 입력하세요.'))

    if num%2 == 1:
        print(f'입력한 숫자 {num}는 홀수 입니다.')
    else :
        print(f'입력한 숫자 {num}는 짝수 입니다.')
    break # 정수 입력 시 while 루프를 빠져나감
  except ValueError:
      print('잘못 입력 하셨어요 다시 입력 해주세요.')

정수를 입력하세요.20
입력한 숫자 20는 짝수 입니다.

In [ ]:
# Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요.(ABC -> BCA)
data = input('문자열을 입력해주세요.')
for i in range(len(data)):
    if i == 0:
      continue
    print(data[i],end = '')
else :
    print(data[0])

문자열을 입력해주세요.kingkong
ingkongk

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
f_names = ['John', 'jane', 'Corey', 'Travis']
l_names = ['Doe', 'Smith', 'Turner', 'Villiams']

name = [first + ' ' + last for first, last in zip(f_names, l_names)]
print(name)

['John Doe', 'jane Smith', 'Corey Turner', 'Travis Villiams']

In [ ]:
# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]

ave = [(math + english) / 2 for math, english in zip(math_scores, english_scores)]
print(ave)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [ ]:
# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때 상품명과 가격을 튜플로 묶어 출력하세요.
products = ['apple', 'banana', 'cherry']
prices = [1.2, 0.5, 2.5]

for product, price in zip(products, prices):
    print(f'product : {product}, price : {price}')

product : apple, price : 1.2
product : banana, price : 0.5
product : cherry, price : 2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [ ]:
import random

# 0과 1 사이의 난수 생성
print(random.random())

# 1에서 10 사이의 정수 반환(10 포함)
print(random.randint(1, 10))

# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))

# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)

# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.828461097480668
5
4
[3, 1, 4, 5, 2]
-0.2578711619683319

In [ ]:
import random
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
random.shuffle(male)
male

['갑돌', '온돌', '이몽룡', '로미오', '철수']

In [ ]:
from random import shuffle
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
shuffle(male)
male

['철수', '갑돌', '로미오', '온돌', '이몽룡']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
from random import shuffle
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
female = ['미미', '갑순', '줄리엣', '성춘형', '평강']

shuffle(male)
shuffle(female)

team = zip(male, female)
print(list(team))

[('온돌', '미미'), ('로미오', '성춘형'), ('갑돌', '줄리엣'), ('이몽룡', '갑순'), ('철수', '평강')]

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random
def random_password(len):
    char = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    password = ''.join(random.choice(char) for _ in range(len))
    return password

len = 8
ran_pass = random_password(len)
print(ran_pass)

w42GE24a

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random

def speaker(len):
  kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
  spe = ','.join(random.choice(kita) for _ in range(len))
  return spe

len = int(input('발표자 수 입력 : '))
spe = speaker(len)
print(f'발표자 : {spe}')

발표자 수 입력 : 4
발표자 : 김성현,류윤선,이범석,윤호준

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
def multiplication_table(x):
    count = 0
    while count < 9:
        count += 1
        print(x, '*', count, '=', x*count)
    else :
        print('★'* 6)

x = int(input('구구단 숫자 입력 : '))
multiplication_table(x)

구구단 숫자 입력 : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
★★★★★★

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
list1 = []
list2 = []

for i in range(21):
    if i == 0:
      continue
    elif i % 2 == 0:
      list1.append(i)
    else :
      list2.append(i)
else :
    print(f'짝수 : {list1}')
    print(f'홀수 : {list2}')

짝수 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
홀수 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.

In [ ]:
numbers = [34, 78, 2, 45, 99, 23]
max = numbers[0]

for i in numbers:
    if max < i:
      max = i
    else :
      continue
print(max)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요. 단, 입력 숫자가 정답보다 큰지 작은지 힌트를 주는 방식으로 코드 작성

In [8]:
# random.randint(x, y)
import random

random_num = random.randint(1, 10)
while 1:
    num = int(input('숫자를 입력하세요.'))
    if random_num == num:
      print(f'{random_num}이 정답 입니다.')
      break
    elif random_num > num:
         print('up')
    else :
         print('down')

숫자를 입력하세요.4
up
숫자를 입력하세요.6
up
숫자를 입력하세요.7
up
숫자를 입력하세요.9
down
숫자를 입력하세요.8
8이 정답 입니다.

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성