<a href="https://colab.research.google.com/github/sojiseung/sjs0424/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/0507%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.\
파이썬 표준 라이브러리https://docs.python.org/ko/3.10/library/index.html

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [ ]:
# 내장 함수 예제
print('Hello, World!')  # 출력 함수
print(len([1, 2, 3, 4]))  # 길이 계산 함수
print(type(10)) # 타입 확인 함수

Hello, World!
4
<class 'int'>

In [ ]:
# Q. 내장함수로 다음을 수행하세요.
a = [1, 2, 3, 4, 5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type(42))
print(abs(-5))  # 절대값
print(round(3.14159, 2))  # 반올림
print(pow(2, 3))  # 2의 3승

<class 'int'>
5
3.14
8

In [ ]:
# 외장 함수 예제
import math # 수학 모듈 임포트
print(math.sqrt(16))  # 제곱근 계산 함수

import random # 랜덤 모듈 임포트
print(random.randint(1, 10))  # 랜덤 정수 생성 함수, 양끝 포함

import datetime # 날짜와 시간 모듈 임포트
print(datetime.datetime.now())  # 현재 날짜와 시간 출력 함수

4.0
6
2024-05-03 06:27:22.058540

In [ ]:
# Q. datetime.datetime.now()에서 연도, 월, 일, 시, 분, 초 마이크로초를 각각 출력하세요.
from datetime import datetime
now = datetime.now()

print(now.year)
print(now.month)
print(now.day)
print(now.hour)
print(now.minute)
print(now.second)
print(now.microsecond)

2024
5
3
6
31
21
309373

In [ ]:
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'sample_data']

In [ ]:
os.mkdir('new_folder')

In [ ]:
os.removedirs('new_folder')

In [ ]:
!ls -l

total 8
drwxr-xr-x 2 root root 4096 May  3 06:37 new_folder
drwxr-xr-x 1 root root 4096 May  1 13:20 sample_data

In [ ]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 pandas 라이브러리를 설치합니다.
# !pip install pandas

import pandas as pd

# pandas의 DataFrame 객체 생성
data = {'Name ': ['Alice', 'Bob', 'Charlie'], 'Age' : [25, 30, 35]}
df = pd.DataFrame(data)

# pandas의 head() 함수 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재)
print(df.head(2))

In [ ]:
import numpy as np
data = [1, 2, 3, 4]
arr = np.array(data)
print(arr,type(arr))

[1 2 3 4] <class 'numpy.ndarray'>

In [ ]:
# 사용자 함수 예제
def greet(name):
    return f'Hello,{name}!'

print(greet('홍길동'))  # 출력 : Hello, Alice!

Hello,홍길동!

# 람다함수

In [ ]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y: x *y
print(multiply(3, 4)) # 출력 : 12

12

In [ ]:
# 조건 사용:
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4)) # 출력 : True
print(is_even(5)) # 출력 : False

True
False

In [ ]:
# map() 함수와 함께 사용:
numbers = [1, 2, 3, 4, 5]

In [ ]:
from bs4 import BeautifulSoup
html_doc = "<html><head><title>Hello World</title></head></html>"
soup = BeautifulSoup(html_doc, 'html.parser')
print(soup.title.text)

In [1]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0, -10, -1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [3]:
# Q. 실행 가능한 숫자를 문자열('5+5') 입력으로 받아 문자열을 숫자 연산으로 실핼한 결과값을 출력하세요.
print(eval(input('연산을 입력하세요. > ')))

연산을 입력하세요. > 5+5
10

In [4]:
expression = input('계산할 수식을 입력하세요. > ')
result = eval(expression)
print(f'계산 결과 : {result}')

계산할 수식을 입력하세요. > 4+4
계산 결과 : 8

In [6]:
data = [1, 2, 3, 4, 5]
operation = input("실행할 리스트 연산을 입력하세요. (예: 'data.append(6), 'data.pop()):>")
eval(operation)
print(f'수정된 데이터 : {data}')

실행할 리스트 연산을 입력하세요. (예: 'data.append(6), 'data.pop()):>data.append(6)
수정된 데이터 : [1, 2, 3, 4, 5, 6]

In [7]:
for idx, element in enumerate(['ele1','ele2','ele3']):
  print(idx+1,element)

1 ele1
2 ele2
3 ele3

In [8]:
# Q. enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력을 하세요.(인덱스와 내용을 믹스하여)
for idx, name in enumerate(['Tom','jiseung','naruto','goku']):
  print(f'{idx + 1}번째 손님 {name}')

1번째 손님 Tom
2번째 손님 jiseung
3번째 손님 naruto
4번째 손님 goku

In [10]:
list2 = ['사과', '키위', '바나나', '수박', '포도', '딸기', '귤']
for i, a in enumerate(list2):
  print(f'{i}, {a}')

0, 사과
1, 키위
2, 바나나
3, 수박
4, 포도
5, 딸기
6, 귤

Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.

strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [ ]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [32]:
eval_input = input('계산할 수식을 입력하세요. > ')
print(f'계산 결과 : {eval(eval_input)}')

cal = []
def calcul():
  inp = input('계산할 수식을 입력하세요. > ')
  if '+' in inp:
    plus = [int(i) for i in inp.split('+')]
    for i in range(1):
      print(plus[i-1] + plus[-i])
  elif '-' in inp:
    minus = [int(i) for i in inp.split('-')]
    for i in range(1):
      print(minus[-i] - minus[i-1])
  elif '*' in inp:
    mul = [int(i) for i in inp.split('*')]
    for i in range(1):
      print(mul[i-1] * mul[-i])
  elif '/' in inp:
    div = [int(i) for i in inp.split('/')]
    for i in range(1):
      print(div[i-1] / div[-i])
calcul()

계산할 수식을 입력하세요. > 10/6
계산 결과 : 1.6666666666666667
계산할 수식을 입력하세요. > 10/6
0.6

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [11]:
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']
for i, a in enumerate(list1):
    print(f'인사평가 {i + 1}번째 해당자는 {a}입니다. 회의실A로 오시기 바랍니다.')

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [33]:
words = ["hello", "world", "python", "map"]

AttributeError: 'list' object has no attribute 'upper'

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [34]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [(i,j) for i,j in list1,list2]

SyntaxError: invalid syntax (<ipython-input-34-a0fc87e91403>, line 3)

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'