<a href="https://colab.research.google.com/github/sojiseung/sjs0424/blob/main/m2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D/1_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

##식별자 기본 규칙
- 키워드를 사용하면 안된다
- 특주문자는 언더바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함 할 수 없다

파이썬은 snake_case와 CamelCase를 모두 사용

  - itemlist:item_list itemList
  - loginstatus: login_status loginStatus
  - 캐멀 케이스(대문자로 시작) 클래스
  - 스네이크 케이스(소문자로 시작)뒤에 ()가 있다-함수
  - 스네이크 케이스(소문자로 시작)뒤에 ()가 없다-변수
  

  #### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
1 # !기호는 Colab 셀에서 Unix / Linux 셀 명령어를 실행
!python --version

Python 3.10.12

In [ ]:
%pwd

'/content'

In [ ]:
import keyword
print(keyword.kwlist, 'wn')
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] wn

35

In [ ]:
1 alpha
2 break # 키워드
3 alpha10_
4 _alpha
5 273alpha # 숫자
6 Alpha
7 ALPHA
8 has space # 공백

In [ ]:
1 # % 기호는 IPyhon 환경( 즉 , Colab이 포함된 Jupyter 환경) 에서 제공하는 매직명령어를 사용
3 # 현재폴더 확인

In [ ]:
%%time
# 간단한 for 루프를 사용한 계산
sum = 0
for i in range(100000):
  sum += i
print(sum)

4999950000
CPU times: user 15.8 ms, sys: 0 ns, total: 15.8 ms
Wall time: 15.6 ms

In [ ]:
def calculate_area(radius):
    return 3.14159 * radius * radius

calculate_area(3)

28.274309999999996

In [ ]:
1. # 변수 식별자
2. count = 10
3. user_name = "Alice"
4. _is_Valid = True
5.
6. # 함수 식별자
7. def calculate_area(radius):
8.     return 3.14159 * radius * radius
9.
10. # 클래스 식별자
11. class Car:
12.       def _init_(self , model,year):
13.           self.midel = model
14.           self.year = year
15.
16. # 모듈 식별자
17. import mate as m
18.

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
identifiers = ["var1" , "2things" , "variable_name" , "time!"]

In [ ]:
# identifiers()는 파이썬의 문자열 메서드로, 주어진 문자열이 유효한 식별자인지를 확인
# isidentifiers()는 예약어인지는 따로 체크하지 않음
import keyword
def valid_identifiers(identifiers):
    valid = []
    for identifier in identifiers:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid

  # 예제 실행
identifiers = ["var1" , "2things" , "variable_name" , "time!", "True"]
print(valid_identifiers(identifiers))

['var1', 'variable_name']

연산자

In [ ]:
#연산자
a = 5
b = 3
c = b%a
d = b//a
e = b/a
print(c)
print(d)
print(e)

3
0
0.6

조건문

In [ ]:
a = 6
b = 5

if a>b:
    print(a)

6

자료형

In [ ]:
# 정수형, 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [ ]:
#정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

1
0
100
100.0
3

In [ ]:
#실수(float)
print(float(True))
print(float(False))
print(float('100'))
print(float(3.14))

1.0
0.0
100.0
3.14

In [ ]:
#사칙연산 : +, *, /, //, %, **(제곱)
a = 10
b = 2.3
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

12.3
7.7
4.347826086956522
4.0
0.8000000000000007
199.52623149688787

In [ ]:
# 문자열
string = '문자열'
a = "100"

print(string)
a

문자열

'100'

In [ ]:
a =100
b =50
print(a+b)
a = "100"
b = "50"
print(a+b)

150
10050

In [ ]:
a =100
b =50
print(a+b)
a = int("100")
b = int("50")
print(a+b)

150
150

In [ ]:
#사용자 입력
a = input("이름을 입력하세요.\n")
print(a + "안녕")

이름을 입력하세요.
감자
감자안녕

In [ ]:
# input() 함수는 입력받은 데이터를 string으로 처리한다.
a = input()
b = input()
print(a + b)

5
5
55

In [ ]:
#input()으로 받은 데이터를 형변환
a = int(input())
b = int(input())
print(a + b)

4
5
9

In [ ]:
# 실수 + 실수 -> 실수
#3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

a = float(input("3을 입력하세요"))
b = float(input("3.3을 입력하세요"))
c = a+b
print(c)

3을 입력하세요3
3.3을 입력하세요3.3
6.3

In [ ]:
#정수 + 실수 = 실수
# 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

a = int(input("3을 입력하세요"))
b = float(input("3.3을 입력하세요"))
c = a+b
print(c)

3을 입력하세요3
3.3을 입력하세요3.3
6.3

In [ ]:
# a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a + b)

5252.273

In [ ]:
# 문자열 : "", '', """ """, ''' '''
# p1 = 'python's value is great'
p1 = "python's value is great"
p2 = """python's value is great"""
print(p1)
print(p2)

python's value is great
python's value is great

In [ ]:
# 백슬래시 (\)는 문자열 안에서 작은따옴표 (')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
# 이 기술을 이스케이프라고 함.
p1 = 'python\'s value is great'
print(p1)

python's value is great

In [ ]:
# \n 행 바꿈
# y1 = "Once you study data analysis You need Python"
# y1 = "Once you study data analysis\nYou need Python"
y1 = "Once you study data analysis\tYou need Python"
print(y1)

Once you study data analysis	You need Python

In [ ]:
y2 = '''
Once you stydy data analysis
You need Python
'''

y3 = """
Once you stydy data analysis
You need Python
"""

print(y2)
print(y3)

Once you stydy data analysis
You need Python


Once you stydy data analysis
You need Python

In [ ]:
a1 = "Python"
a2 = " is easy to learn"
print('☆'*12)
print(a1+a2)
print('☆'*12)

☆☆☆☆☆☆☆☆☆☆☆☆
Python is easy to learn
☆☆☆☆☆☆☆☆☆☆☆☆

In [ ]:
# Q1. 아래와 같이 출력할 수 있는 string을 만드세요.

# 'What a wonderful world!'
# he said loudly

a = "'What a wonderful world!'\nhe said loudly"

print(a)

'What a wonderful world!'
he said loudly

In [ ]:
# Q2. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요.

num1 = int(input("정수를 입력하세요."))
num2 = float(input("실수를 입력하세요."))

if num1 > num2:
    print(num1)
elif num2 > num1:
    print(num2)
elif num1 == num2:
    print("두 숫자가 똑같습니다.")
else : print("큰 수가 없습니다.")

정수를 입력하세요.20
실수를 입력하세요.20.0
두 숫자가 똑같습니다.

In [ ]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]

print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [ ]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[2]
list1[0:2]
list1[:4]

[1, 2, 3, 4]

In [ ]:
list1 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]

print(list1[3][2])
print(list1[4][0])

3
a

In [ ]:
# 리스트 수정, 삭제
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)

del a[0]
del b[1]
print(a)
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [ ]:
# 끝에서 부터 인덱싱 : -1
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
print(a[-2])
print(a[-4:-1])
print(a[-4:])
print(b[-2])

8
[6, 7, 8]
[6, 7, 8, 9]
b

In [ ]:
# 리스트 확정
h = [1,2,3]
h.extend([4,5]) # 반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6) # 단일 객체를 추가
print(h)
h.insert(0,5)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

print(list1[11][1])

list1.append(82)
print(list1)

# .index(x)는 x의 인덱스 번호를 알려준다
print(list1.index(87))

list2 = list1[3:11]
list2.sort(reverse=True)
print(list2)

list1[8] = 11
print(list1[8])

print(list1[2::-1])
print(list1[0::2])

del list1[-1]
print(list1)

a = list1[3]
b = list1[5]

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
5
[87, 54, 39, 29, 19, 15, 13, 4]
11
[69, 45, 58]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
106
-68
1653
0.21839080459770116
0
19
1784692024660069843400588950089820848205359612815447007430736376271289420707549395931423768497105136108949665339

In [ ]:
# x:: = 인덱스 x번째가 시작점 ::-2 = 역순으로 한칸씩 점프해서 출력해준다.
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
print(list1)
print(list1[7::-1])
print(list1[7::2])
print(list1[7::-2])

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
[13, 29, 87, 4, 19, 69, 45, 58]
[13, 15, [8, 33, 11], 49, 98, 82]
[13, 87, 19, 45]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# sort() 원본을 정렬함
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

# sorted() 원본이 정렬이 안되고 유지
my_tuple = (3, 1, 2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

[1, 2, 3]
[1, 2, 3]
(3, 1, 2)

In [ ]:
list = [5, 6, 9, 7, 8]
new_list = list.sort()
print(list)
print(new_list) # sort는 none을 반환한다

[5, 6, 7, 8, 9]
None

In [ ]:
list = [5, 6, 9, 7, 8]
new_list = sorted(list)
print(list)
print(new_list) # sorted는 값을 반환을 해준다.

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [ ]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
list2 = list1[3:11]
l_sort = sorted(list2,reverse=True)
print(l_sort)

[87, 54, 39, 29, 19, 15, 13, 4]

In [ ]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
list2 = list1[3:11]
list2.sort(reverse=True)
print(list2)

[87, 54, 39, 29, 19, 15, 13, 4]

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58,45,69,19,4,87,29,13,39,15]
l_sort = sorted(numbers,reverse=True)
max1 = l_sort[0]
min1 = l_sort[-1]
print("최대값 : ",max1)
print("최소값 : ",min1)

최대값 :  87
최소값 :  4

In [ ]:
numbers = [58,45,69,19,4,87,29,13,39,15]
# 최소값과 최대값 찾기
min_value = min(numbers)
max_value = max(numbers)

# 결과 출력
print(f'최소값 : {min_value}, 최대값 : {max_value}')

최소값 : 4, 최대값 : 87

In [ ]:
numbers = [58,45,69,19,4,87,29,13,39,15]

# 최소값과 최대값을 첫 번쨰 요소로
max = nubers[0]
min = nubers[0]

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# 리스트 정의
numbers = [58,45,69,19,4,87,29,13,39,15]

# 합계 계산
sum1 = sum(numbers)

# 평균 계산
ave = sum1/len(numbers)

print('합계 : ',sum1)
print('평균 : ',ave)

합계 :  378
평균 :  37.8

In [ ]:
# 파이썬에서 평균을 구하는 내장함수는 없음
import numpy as np
numbers = [58,45,69,19,4,87,29,13,39,15]

print(f'합계 : {sum(numbers)} 평균 : {np.mean(numbers)}')

합계 : 378 평균 : 37.8

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

  -target='apple'

In [ ]:
# 이건 잘못된 예시 .index는 리스트에서 중복된 요소에 앞에 있는 인덱스만 알려줌
items = ['apple','banana','cherry','apple','cherry','apple']
items2 = []
for i in items:
  if i == 'apple':
    items2.append([items.index(i)])

print(items2)

[[0], [0], [0]]

In [ ]:
# 리스트 정의
items = ['apple','banana','cherry','apple','cherry','apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
# 변수명 = [index for 변수명1, 변수명2 in enumerate(리스트명) if value == 찾을요소]
indexes = [index for index, value in enumerate(items) if value == target]
indexes1 = [value for index, value in enumerate(items) if value == target]

# 결과 출력
print(f"'{target}'의 모든 인덱스: {indexes}")
print(indexes1)

'apple'의 모든 인덱스: [0, 3, 5]
['apple', 'apple', 'apple']

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
li = ['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e']
result = [li[0]]
for i in li[1:]:
    if i != result[-1]:
      result.append(i)
print(result)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# 함수 버전
def remove_consecutive_duplicates(items):
    if not items:
      return[]
    # 결과 리스트 초기화
    result = [items[0]]
    # 이전 요소와 비교하면서 중복 제거
    for current in items[1:]:
        if current != result[-1]:
            result.append(current)
    return result

# 리스트 정의
items = ['a', 'a', 'b', 'b', 'c', 'c', 'd', 'd', 'e', 'e']
# 결과 출력
print(remove_consecutive_duplicates(items))

['a', 'b', 'c', 'd', 'e']

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
def rotate_list(nums, k):
    if not nums:
        return nums
    # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
    k = k % len(nums)
    # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
    rotated = nums[-k:] + nums[:-k]
    return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 4
# 결과 출력
print(rotate_list(nums, k))

[2, 3, 4, 5, 1]

In [ ]:
def rotate_list(nums, k):
    if not nums:
        return nums
    # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
    k = k % len(nums)
    # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
    rotated = nums[k:] + nums[:k]
    return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 2
boom = [1, 2, 3, 4, 5, 6]
# 결과 출력
print(rotate_list(boom, k))

[3, 4, 5, 6, 1, 2]

# 자료형 - Tuple

  - 투플은 변경할 수 없는(immutable) 순서가 있는 컬렉션
  - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1, 2, 3, 4, 5], ('a', 'b', 'c'))

print(tuple1[:])
print(tuple2[2])
print(tuple3[3][2])

(1, 2, 3, 4, 5)
c
3

In [ ]:
# 리스트는 안에 요소를 변경이 가능
list = [1, 2, 3, 4, 5]
list[0] = 0
print(list)

[0, 2, 3, 4, 5]

In [ ]:
# tuple은 요소가 변경이 안됨 오류뜸
tuple = (1, 2, 3, 4, 5)
tuple[0] = 0
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1 = [1]
print(l1)

[1]

In [ ]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)

# ,를 뒤에 안붙이면 생기는 결과
t2 = (1)
print(t2)
type(t2)

(1,)
1

int

In [ ]:
# 소괄호를 안해도 가능
t2 = 1,2,3
print(t2)
type(t2)

(1, 2, 3)

tuple

In [ ]:
t1 = (1,)
t2 = (1)
t3 = 1,2,3

# t2 + t3 결과는 오류뜸 t2는 int
t1 + t3

(1, 1, 2, 3)

In [ ]:
colors = ('red', 'green', 'blue')
r, g, b = colors

print(r)
print(g)
print(b)

red
green
blue

함수에서 여러 값을 반환할 때 튜플을 사용하는 것이 일반적입니다

Q. 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요.

In [ ]:
numbers = [10, 20, 30, 40, 50]

def calculate_sum_and_average(numbers):
    total = sum(numbers)
    average = sum(numbers) / len(numbers)
    return (total, average)

total, average = calculate_sum_and_average(numbers)
print(f'총합 : {total}, 평균 : {average}')

총합 : 150, 평균 : 30.0

# 자료형 - 사전
- 키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
{a:1,b:2}

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a'])

print(d1.keys())    # 키만 출력
print(d1.values())  # 값만 출력
print(d1.items())   # 키와 값을 출력 (tuple형태로 나타남)
print('=' * 32)

# 추가 가능
d1['d'] = 4
print(d1)
print('=' * 32)

# 수정도 가능
d1['b'] = 7
print(d1)
print('=' * 32)

# 삭제도 가능
del d1['d']
print(d1)

1
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
================================
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
================================
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
================================
{'a': 1, 'b': 7, 'c': 3}

Q. 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요.

In [ ]:
# pop() 딕셔너리에서 삭제하려는 값을 반환한 후 삭제
d = {'a': 1, 'b':7, 'c':3, 'd':4}
value =d.pop('b')
print('삭제 값 : ', value)
print(d)

삭제 값 :  7
{'a': 1, 'c': 3, 'd': 4}

Q. 다음과 같이 학생의 이름과 점수를 투플로 묶은 리스트가 있습니다: [("Tom",85),("Jane",90),("Bob",75)]
이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요.

In [ ]:
students = [("Tom",85),("Jane",90),("Bob",75)]
student_dict = dict(students)
print(student_dict)

{'Tom': 85, 'Jane': 90, 'Bob': 75}

Q. 투플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요.

In [ ]:
# 위치 좌표의 리스트
positions = [(1,1), (2,2), (1,1), (3,3), (2,2)]

# 각 위치의 출현 횟수를 저장할 딕셔너리
position_count = {}

for pos in positions:
    if pos in position_count:
        position_count[pos] += 1
    else :
        position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

# 자료형-집합, set
- 중복을 허용하지 않으며 순서가 없다(인덱스가 없다)

In [ ]:
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

l1 = list(s1)
print(l1)
print(l1[1])

l2 = list(s2)
print(l2)
print(l2[2])

{1, 2, 3, 4, 5}
{'H', 'o', 'l', 'e'}
[1, 2, 3, 4, 5]
2
['H', 'o', 'l', 'e']
l

Q. 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요.

nums = [1,2,3,4,4,4,5]

In [ ]:
nums = [1, 2, 3, 4, 4, 4, 5]
unique_num = set(nums)
print(unique_num)

{1, 2, 3, 4, 5}

Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [ ]:
# |, &는 list에서 사용이 불가능함
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(list(s1 | s2))  # 합집합
print(list(s1 & s2))  # 교집합

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

Q. 첫번째 집합에서 두 번쨰 집합의 요소를 제외한 차집합을 구하고 출력하세요.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

# print(set1 - set2)
set1.difference(set2)

{1, 2, 3}

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [3]:
data = [1, 2, 2, 3, 4, 4, 4, 5]

def li(data):
    if not data:
      return []
    result = [data[0]]

    for current in data[1:]:
        if current != result[-1]:
            result.append(current)
    return result

print(len(li(data)))

5

In [2]:
data = [1,2,2,3,4,4,4,5]
unique_data = set(data)
print(len(unique_data))

5

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
def inter(x, y):
    x = set(x)
    y = set(y)
    result = list(x & y)
    return result

x = [1,3,4,5,6,7]
y = [4,5,6,7]

print(inter(x, y))

[4, 5, 6, 7]

In [4]:
list1 = [1,2,3,4,5]; list2 = [4,5,6,7]
set1 =set(list1)
set2 =set(list2)
print(list(set1 &set2))

[4, 5]

# 자료형 - 논리(bool) True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
# 자료형 - 논리(bool)
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

# 아스키 코드
ASCI 값에서 'a'는 97이고 'p'는 112 입니다. 'a'는 'p'보다 작으므로 str1<str2는 True를 반환

In [ ]:
# 관계 연산자
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [ ]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

Task3_0426. 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

- numbers = [1, 2, 3, 10, 20]
- threshold = 15

In [ ]:
numbers = [1, 2, 3, 10, 20]
threshold = 15

def booo(x, y):
  if not x or y:
      return []
  tr1 = True


print(booo(numbers, threshold))

IndentationError: unexpected indent (<ipython-input-46-aad598ffc30b>, line 6)

In [6]:
numbers = [1,2,3,10,20]
if any(num > 15 for num in numbers):
    print('True')
else :
      print('False')

True

In [7]:
#함수버전
def check_greater_than_threshold(numbers, threshold):
    for num in numbers:
        if num > threshold:
            return True
        # else에 return false를 쓰면 반복문이 다 못돎
    return False

numbers = [1,2,3,10,20]
threshold = 15
result = check_greater_than_threshold(numbers, threshold)
print(result)

True

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

- text = "hello world"
- substring = "world"

In [8]:
def contains_substring(text, substring):
    if substring in text:
        return True
    else :
        return False

text = "hello world"
substring = "world"
result = contains_substring(text, substring)
print(result)

True

In [9]:
def contains_substring(text, substring):
    if substring in text:
        print(True)
    else :
        print(False)

text = "hello world"
substring = "world"
result = contains_substring(text, substring)
print(result)

True
None

사용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입출력값이 없는 경우

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:
- 4로 나누어 떨어진다.
- 100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.

year = 2020

True

In [10]:
def is_leap_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return True
    else :
        return False

year = 2020
result = is_leap_year(year)
print(result)

True

In [11]:
def is_leap_year(year):
    if (not year % 4) and ((year % 100) or (not year % 400)):
      return True
    else :
      return False

year = 2020
result = is_leap_year(year)
print(result)

True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
li = ['a', 'b', 'c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

# 사용자 함수

In [ ]:
numbers = [1, 2, 3]
sum(nubers) # 파이썬 내장함수

In [ ]:
# 사용자 함수
def add(a,b,c):
    return a + b + c

add(1,2,3)

6

In [ ]:
def mul(a,b,c):
    return a * b* c

mul(2,2,3)

12

Q. 뺄셈, 나눗셈을 수행하는 사용자 함수를 작성하세요.

In [ ]:
def sub(a,b,c):
    return a - b - c

print(sub(1,2,3))

def div(a,b,c):
    if a == 0 or b ==0 or c == 0:
        return print('Error발생')
    else :
        return a / b / c
print(round(div(1,2,3)),2) # 반올림 round : 소수점 자릿수

-4
0 2

# 클래스

In [ ]:
class AddMul:
    def add(self,n1,n2):
        return n1 + n2
    def mul(self,n1,n2):
        return n1 * n2

obj1 = AddMul()
print(obj1.add(1,1))
obj2 = AddMul()
print(obj2.mul(1,1))

2
1

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요.

In [12]:
class Calculator:
    def add(self,n1,n2):
      return n1 + n2
    def sub(self,n1,n2):
      return n1 - n2
    def mul(self,n1,n2):
      return n1 * n2
    def div(self,n1,n2):
      if n2 == 0:
          return print("Error : Division by zero")
      else :
          return n1 / n2

abj1 = Calculator()
print(abj1.add(1,1))

2

Task7_0426. 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문자을 단어 단위로 분리 : split()
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for 문 / if else문):word=word.lower()
- 결과 출력

[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [17]:
text = input("문장을 입력하세요 : ")
words = text.split()
word_frequency = {}
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print(word_frequency)

문장을 입력하세요 : I love apple. I love orange. apple is tasty
{'I': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [16]:
# 사용자로부터 문장을 입력 받습니다.
text = input("문장을 입력하세요 : ")

# 문장을 단어 단위로 분리합니다.
words = text.split()

# 단어의 빈도수를 저장할 딕셔너리를 생성합니다.
word_frequency = {}

# 각 단어의 빈도수를 계산합니다.
for word in words:

    # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다.
    word = word.lower() # upper() 대문자로 변경

    # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고,
    # 존재하지 않는다면 새로운 항목으로 추가합니다.
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

# 결과를 출력합니다.
print(word_frequency)

문장을 입력하세요 : I love apple. I love orange. apple is tasty
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [18]:
# split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [19]:
text = 'apple, banana, orange'
words = text.split(',')
words

['apple', ' banana', ' orange']

In [20]:
time_string = '12:30:55'
time_list = time_string.split(':')
time_list

['12', '30', '55']

In [24]:
# Q. multi_line_text를 아래 리스트로 분리해 보세요.
multi_line_text = 'Hello\nWorld\nPython\nProgramming'
print(multi_line_text)

multi_line_list = multi_line_text.split('\n')
print(multi_line_list)

Hello
World
Python
Programming
['Hello', 'World', 'Python', 'Programming']

In [25]:
# 복합 대입연산자
num = 10
num += 10 # num = num + 10
num

20

In [32]:
# Q, 복합 대입연산자를 이용해서 4칙연산을 수행하세요
a = 10

a += 5 # a + 5 = a
print(a)
a-=3
print(a)
a*=2
print(a)
a /=4
print(a)

15
12
24
6.0

In [33]:
# 소문자, 대문자 변환
word = 'Dog'
w1 = word.lower()
print(w1)
w2 = w1.upper()
print(w2)

dog
DOG

# 이스케이프 문자
- 키보드로 입력하기 어려운 기호 등을 나타낸다
- \로 시작, \n 줄바꾸기, \t 탭,

In [34]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다.\t솔직히 자바나 파이썬이나 나중에 비슷합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
나는 파이썬을 사랑합니다.	솔직히 자바나 파이썬이나 나중에 비슷합니다.

In [35]:
print('Hello\tWorld!')      # 탭 문자를 사용하여 'Hello'와 'World!' 사이에 탭 간격을 줍니다.
print('Hello\nWorld!')      # 줄 바꿈 문자를 사용하여 'Hello'와 'World!'를 다른 줄에 출력합니다.
print('She said, \'Hi!\'')  # 큰따옴표를 문자열 내부에 포함시킵니다.
print('It\'s raining.')     # 작은따옴표를 문자열 내부에 포함시킵니다.
print('Backslesh: \\')      # 백슬래시를 출력합니다.

Hello	World!
Hello
World!
She said, 'Hi!'
It's raining.
Backslesh: \

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [36]:
print('%(num)d, %(float)f, %(string)s, ' % {'num': 3, 'float': 3, 'string': 'hello'})

3, 3.000000, hello,

In [37]:
txt1 = '자바' ; txt2 = '파이썬'
num1 = 5; num2 = 10
print('나는  %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)

나는  자바보다 파이썬에 더 익숙합니다.
파이썬은 자바보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [38]:
# str,format
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [40]:
# f-string
name = '홍길동'
age = 30
print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

In [41]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638}
for name, phone in table.items():
    print(f'{name:5} ==> {phone:5d}') # 최소 5개 문자 너비

Tom   ==>  1234
Jack  ==>  4518
Eddie ==>  9638

In [42]:
# 소수점 4자리까지만 표현
y = 3.42134234
f'{y:0.5f}'

'3.42134'

In [43]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [51]:
# Q. num1=12345, num2 = 12.345679 을 아래와 같이 출력하세요.
num1 = 12345; num2 = 12.345679
print(f'{num1}\n{num1:10d}\n{num2}\n{num2:16.3f}')

12345
     12345
12.345679
           12.346

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [52]:
a = 0o172 # 8진수 0o로 시작
b = 0x7a # 16진수 0x로 시작
c = 0b1111010 # 2진수 0b로 시작
print(a)
print(b)
print(c)

122
122
122

In [53]:
# Q. 10을 10진수. 2진수, 8진수, 16진수로 출력하세요.
a = 10
b = 0b10
c = 0o10
d = 0x10

print(f'{a}, {b}, {c}, {d}')

10, 2, 8, 16

In [54]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f

e = 0o177     # 8진수 0o로 시작
f = 0xABC     # 16진수 0x로 시작
g = 0b101010  # 2진수 0b로 시작

print(e)
print(f)
print(g)

127
2748
42

In [55]:
# 2진수를 10진수로 표현
g1 = 0b1000
g2 = 0b100
g3 = 0b10
print(g1)
print(g2)
print(g3)

8
4
2

In [56]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [58]:
# Q. 0xABC를 계산하세요.
print(0xABC)
print(16*16*10+16*11+12)

2748
2748

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = 'Hello, world! How are you todeay? I am fine.
Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today','I', 'am', 'fine', 'Thank',
'you',"]

In [ ]:
input_str = "Hello, world! How are you todeay? I am fine. Thank you!"

i1 = input_str.replace(',','!')
print(i1)

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [59]:
a = 0b122
b = 0o122
c = 0x122
print(a)
print(b)
print(c)

SyntaxError: invalid digit '2' in binary literal (<ipython-input-59-6c9644fc1057>, line 1)

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [63]:
x = int(input('첫번째 수 : '))
y = int(input('두번째 수 : '))

def mul(x, y):
    result = x * y
    result += 10
    return result

print(mul(x, y))

첫번째 수 : 10
두번째 수 : 20
210

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [68]:
li = ['Java', 'C', 'JavaScript']
del li[1]
li.append('Python')
print(li)

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [73]:
st = 'Incredible'
stt = st[:3] + st[-3:]
print(stt)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [82]:
user_name = input('이름을 입력하시오 : ')
user_email = input('이메일을 입력하시오 : ')

users = {}

def user_li(user_name, user_email):
  users[user_name] = user_email

def un_li(users, un):
    for i in users:
        if i == un:
          print(users[i])
        else :
          print('존재하지 않는 정보 입니다.')

user_li(user_name, user_email)

print(users)

un = input('이름 : ')

un_li(users, un)

이름을 입력하시오 : Alice
이메일을 입력하시오 : alice@example.com
{'Alice': 'alice@example.com'}
이름 : sojiseung
존재하지 않는 정보 입니다.

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [83]:
a = (1,2,3,4,5)
b = (4,5,6,7,8)

a1 = set(a)
b1 = set(b)

print(list(a1 & b1))

[4, 5]

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.

1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green